/* Signup Screen */
.signup .text-field {
    -fx-border-width: 2px;
    -fx-border-color: transparent;
}

.root
{
    -fx-background-color: gray;
}

.label
{
    -fx-text-fill: white;
}

.list-view
{
    -fx-background-color: lightgray;
}
.list-view .cell
{
    -fx-background-color: lightgray;
}
.list-view .list-cell:hover
{
    -fx-background-color: rgba(0,150,201,0.5); /* #0096C9 50% */
}
.list-view .list-cell:selected, list-cell:focused
{
    -fx-background-color: #0096C9;
    -fx-text-fill: white;
}

.button
{
    -fx-background-color: #0C6076;
    -fx-text-fill: white;
}
.button:hover
{
    -fx-background-color: #094c5e;
    -fx-opacity: 0.5;
}
.button:pressed
{
    -fx-background-color: #073946;
    -fx-opacity: 0.5;
}

.menu-bar
{
    -fx-background-color: gray;
}
.combo-box
{
    -fx-background-color: #666666;
}
.context-menu
{
    -fx-background-color: gray;
}
.combo-box .list-view
{
    -fx-background-color: gray;
}
